<nav class="container">
  <div class="row">
    <a href="/"><h3 class="col">SixPackApp</h3></a>
    <ul class="col">
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/login">Login</a></li>
    </ul>
  </div>
</nav>
