<nav class="container">
  <div class="row">
    <a href="/"><h3 class="col">SixPackApp</h3></a>
    <ul class="col">
      <li><a href="/workouts/new">Make new workout</a></li>
      <li><a href="/workouts/">See all workouts</a></li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input class="btn btn-primary form-control-sm" type="submit" value="Logout"/>
      </form>
    </ul>
  </div>
</nav>
