<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>Workout</h1>
    <form class="" action="/workouts" method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" name="name" placeholder="Name">
      </div>
      <select name="type" class="custom-select">
        <option selected>Open this select menu</option>
        <option value="cardio">Cardio</option>
        <option value="weights">Weights</option>
        <option value="yoga">Yoga</option>
        <option value="hiit">HIIT</option>
        <option value="cycling">Cycling</option>
        <option value="calisthenics">Calisthenics</option>
      </select><br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" name="description"></textarea>
      </div><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Excercise</span>
        </div>
        <input type="text" name="excercises.title" placeholder="Excercise">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Reps</span>
        <input type="text" name="excercises.reps" placeholder="Reps">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Excercise</span>
        </div>
        <input type="text" name="excercises.title" placeholder="Excercise">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Reps</span>
          <input type="text" name="excercises.reps" placeholder="Reps">
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Excercise</span>
        </div>
        <input type="text" name="excercises.title" placeholder="Excercise">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Reps</span>
          <input type="text" name="excercises.reps" placeholder="Reps">
        </div>
      </div>
      <input type="submit" class="btn btn-primary" name="" value="Create Workout">
    </form>
    <%} else {%>
      <h1>Please Login</h1>
    <%}%>
    <a href="/">Back</a>
  </body>
</html>
