<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Workout</h1>
    <form class="" action="/workouts" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
      <input type="text" name="reps" placeholder="Reps">
      <input type="submit" name="" value="Create Wokout">
    </form>
    <a href="/">Back</a>
  </body>
</html>
